{% extends "un_auth_base.html" %}

{% block unauth_title %}Password Reset{% endblock %}

{% block unauth_content %}
<a class="text-sm">Please check your inbox for instructions and a password reset link.</a>
<button onclick="location.href = '/'" class="flex w-full justify-center rounded-md bg-gray-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-4">
    Back to Login
</button>
{% endblock %}