{% extends "base.html" %}

{% block content %}
<div class="w-full">
    <div class="lg:bg-gradient-to-b lg:from-purple-900 lg:to-blue-900 flex lg:h-screen lg:items-center lg:justify-center">
        <div class="max-lg:w-full lg:w-1/2 bg-white m-4 p-5 rounded">
            <h2 class="mb-2 text-left text-2xl font-bold leading-9 tracking-tight text-gray-900">Change Password</h2>
            <hr class="mb-4">
            <form method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors|length > 0 %}
                        <div class="mb-6">
                            <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-red-900">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.name }}" class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5" autocomplete="{{ field.auto_id }}" required />
                            {% for error in field.errors %}
                                <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                            {% endfor %}
                        </div> 
                    {% else %}
                        <div class="mb-6">
                            <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" autocomplete="{{ field.auto_id }}" required />
                        </div> 
                    {% endif %}
                {% endfor %}
                <div class="flex justify-between">
                    <a href="/dashboard" class="rounded-md bg-gray-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Cancel
                    </a>
                    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Change My Password
                    </button> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}