<div class="flex flex-col">
    <!-- grid layout: sidebar + circuit -->
    <div class="grid grid-cols-5 border-b border-gray-400">
        <!-- component bar -->
        <div class="bg-gray-100 col-span-1 p-2 h-full">
            <div class="h-full overflow-auto" id="component-bar"></div>
        </div>

        <!-- main builder -->
        <div class="bg-white flex flex-col col-span-4 max-h-[70vh] overflow-auto">
            {% include 'pages/components/tools.html' %}
            <div id="circuit-wrapper" class="flex flex-row p-3"></div>

            <div class="px-3 py-0 bg-white shadow">
                {% include 'pages/components/measurements.html' %}
            </div>
        </div>
    </div>

    <!-- histogram underneath -->

</div>
