<!-- ADAPTED FROM https://v1.tailwindcss.com/components/navigation -->
<nav class="snap-start flex items-center justify-between flex-wrap bg-indigo-600 p-3">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img src="/static/images/site_icon.svg" alt="Site logo" class="fill-current h-8 w-8 mr-2" />
        <span class="font-semibold text-xl tracking-tight bg-clip-text text-white">
            Quantum Circuit Simulator
        </span>
    </div>

    <!-- Desktop nav -->
    <div class="w-full lg:flex lg:flex-grow lg:items-center lg:w-auto max-lg:hidden">
        <div class="text-sm lg:flex-grow">
            <a href="/dashboard" class="inline-block mt-4 lg:inline-block lg:mt-0 text-indigo-100 hover:text-white mr-4">
                Dashboard
            </a>
            <a href="/builder?#" class="inline-block mt-4 lg:inline-block lg:mt-0 text-indigo-100 hover:text-white mr-4">
                Circuit Builder
            </a>   
            <button id="examplesDropdownbutton" data-dropdown-toggle="examplesDropdown" data-dropdown-placement="bottom-start" class="inline-block mt-4 lg:inline-block lg:mt-0 text-indigo-100 hover:text-white mr-4">
                <div class="flex justify-between items-center">
                    <span>Example Circuits</span>
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </div>
            </button>
            <div id="examplesDropdown" class="z-10 hidden bg-white rounded-lg shadow w-60">
                <ul class="py-2 overflow-y-auto text-gray-700" aria-labelledby="examplesDropdownbutton">
                    {% for example in example_circuits %}
                        <li>
                            <a href="/builder?load={{ example.data }}" class="text-xs flex items-center px-4 py-2 hover:bg-gray-100">
                                {{ example.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <a class="max-lg:hidden text-xs text-indigo-100 mr-3">Logged in as <b>{{ user.first_name }} {{ user.last_name }}</b></a>
        <div class="max-lg:hidden flex items-center">
            <button aria-label="Account Tools" class="max-lg:hidden" id="accountDropdownButton" data-dropdown-toggle="accountDropdown" data-dropdown-placement="bottom-end" data-dropdown-trigger="hover" class="mr-4">
                <svg class="w-6 h-6 text-indigo-100 hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                </svg>
            </button>
            <div id="accountDropdown" class="m-2 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                <ul class="py-2 text-xs text-gray-700" aria-labelledby="dropdownDividerButton">
                    <li>
                        <a href="/profile" class="block px-4 py-2 hover:bg-gray-100">
                            My Profile
                        </a>
                    </li>
                    <li>
                        <a href="/change_email/" class="block px-4 py-2 hover:bg-gray-100">
                            Change Email
                        </a>
                    </li>
                    <li>
                        <a href="/password_change/" class="block px-4 py-2 hover:bg-gray-100">
                            Change Password
                        </a>
                    </li>
                </ul>
                <div class="py-2">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="text-left w-full block px-4 py-2 text-xs text-gray-700 hover:bg-gray-100">
                            Logout
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>
    {% else %}
        <a class="max-lg:hidden text-xs text-indigo-100 mr-3">Viewing as a <b>Guest</b></a>
        <a href="{% url 'login' %}" class="max-lg:hidden bg-indigo-700 hover:bg-indigo-800 text-white text-xs font-bold py-1 px-2 rounded">Login</a>
        <a href="{% url 'signup' %}" class="max-lg:hidden bg-indigo-700 hover:bg-indigo-800 text-white text-xs font-bold py-1 px-2 rounded ml-2">Sign Up</a>
    {% endif %} 
</nav>

<!-- Mobile nav -->
<div id="mobile-nav" class="lg:hidden w-full flex justify-between bg-indigo-100 z-50 fixed bottom-0 h-16">
    <a href="/dashboard" class="my-4 flex-grow flex flex-col text-center items-center justify-center">
        <svg class="w-[20px] h-[20px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z" clip-rule="evenodd"/>
        </svg>          
        <span class="text-xs text-gray-800">Home</span>
    </a>
    <a href="/builder?#" class="my-4 flex-grow flex flex-col text-center items-center justify-center">
        <svg class="w-[20px] h-[20px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z" clip-rule="evenodd"/>
        </svg>
        <span class="text-xs text-gray-800">Builder</span>
    </a>   
    <button class="my-4 flex-grow flex flex-col text-center items-center justify-center" id="examplesMobileDropdownbutton" data-dropdown-toggle="examplesMobileDropdown" data-dropdown-placement="top-end">
        <svg class="w-[20px] h-[20px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 .087.586l2.977-7.937A1 1 0 0 1 6 10h12V9a2 2 0 0 0-2-2h-4.532l-1.9-2.28A2 2 0 0 0 8.032 4H4Zm2.693 8H6.5l-3 8H18l3-8H6.693Z" clip-rule="evenodd"/>
        </svg>
        <span class="text-xs text-gray-800">Examples</span>
    </button>  
    <div id="examplesMobileDropdown" class="z-10 hidden bg-white rounded-lg shadow w-60">
        <ul class="h-48 py-2 overflow-y-auto text-gray-700" aria-labelledby="examplesMobileDropdownbutton">
            {% for example in example_circuits %}
                <li>
                    <a href="/builder?load={{ example.data }}" class="text-xs flex items-center px-4 py-2 hover:bg-gray-100">
                        {{ example.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button class="my-4 flex-grow flex flex-col text-center items-center justify-center" id="accountMobileDropdownButton" data-dropdown-toggle="accountMobileDropdown" data-dropdown-placement="top-end">
        <svg class="w-[20px] h-[20px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
        </svg>          
        <span class="text-xs text-gray-800">Account</span>
    </button>  
    <div id="accountMobileDropdown" class="m-2 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
        {% if user.is_authenticated %}
        <ul class="py-2 text-xs text-gray-700" aria-labelledby="accountMobileDropdownButton">
            <li>
            <a href="/profile" class="block px-4 py-2 hover:bg-gray-100">My Profile</a>
            </li>
            <li>
            <a href="/change_email/" class="block px-4 py-2 hover:bg-gray-100">Change Email</a>
            </li>
            <li>
            <a href="/password_change/" class="block px-4 py-2 hover:bg-gray-100">Change Password</a>
            </li>
        </ul>
        <div class="py-2">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="text-left w-full block px-4 py-2 text-xs text-gray-700 hover:bg-gray-100">
                    Logout
                </button>
            </form>
        </div>
        {% else %}
        <ul class="py-2 text-xs text-gray-700" aria-labelledby="accountMobileDropdownButton">
            <li>
            <a href="{% url 'login' %}" class="block px-4 py-2 hover:bg-gray-100">Login</a>
            </li>
            <li>
            <a href="{% url 'signup' %}" class="block px-4 py-2 hover:bg-gray-100">Sign Up</a>
            </li>
        </ul>
        {% endif %} 
    </div>
</div>